.bgr {
    height: 100%;
    background: #42275a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jmb {
    width: inherit;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.3);
}

.img {
    height: 25px;
}

.navbar-nav, .mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
}

.link {
    color: purple;
}

.link:hover {
    color: darkmagenta;
}

.rep {
    color: white;
}

.rep:hover {
    color: darkmagenta;
}