@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothicBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.bgr {
    height: 100%;
    background: rgb(0, 68, 91);
    background-image: url("../img/rendt_pattern.png");
    background-repeat: repeat;
    background-blend-mode: darken;
}

.jmb {
    width: inherit;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.3);
}

.img {
    height: 25px;
}

.navbar-nav, .mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
}

.link {
    color: purple;
}

.link:hover {
    color: darkmagenta;
}

.rep {
    color: white;
}

.rep:hover {
    color: darkmagenta;
}