.bgr {
    height: 100%;
    background: rgba(244, 67, 54, 1);
}

.jmb {
    width: inherit;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.3);
}

.img {
    height: 25px;
}

.navbar-nav, .mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
}

.link {
    color: red;
}

.link:hover {
    color: red;
}

.rep {
    color: white;
}

.rep:hover {
    color: red
}